<?xml version="1.0" encoding="utf-8"?>
<adptersConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <metaData>
        <MininumICTVersion>2.14</MininumICTVersion>
        <revision>1.0</revision>
    </metaData>
    <OS>
        <PCWIN>
            <Scope>
                <adapter>
                    <name>instrument.internal.udm.oscilloscope.ScopeTestAdaptor</name>
                    <resourceIdentification>                     
                        <name>test</name>
                    </resourceIdentification> 
                </adapter>
                <adapter>
                    <name>instrument.internal.udm.oscilloscope.IEEE4882ScopeAdaptor</name>
                    <resourceIdentification>
                        <name>VISA</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>gpib</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>serial</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>tcpip</name>
                    </resourceIdentification>
                </adapter>
                <adapter>
                    <name>instrument.internal.udm.oscilloscope.IvicScopeAdaptor</name>
                    <resourceIdentification>  
                        <name>VISA</name>
                    </resourceIdentification>
                </adapter>
            </Scope>
            <Fgen>
                <adapter>
                    <name>instrument.internal.udm.fgen.FgenTestAdaptor</name>
                    <resourceIdentification>                     
                        <name>test</name>
                    </resourceIdentification> 
                </adapter>
                <adapter>
                    <name>instrument.internal.udm.fgen.IEEE4882FgenAdaptor</name>
                    <resourceIdentification>
                        <name>VISA</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>gpib</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>serial</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>tcpip</name>
                    </resourceIdentification>
                </adapter>
               <adapter>
                  <name>instrument.internal.udm.fgen.IvicFgenAdaptor</name>
                  <resourceIdentification>
                      <name>VISA</name>
                 </resourceIdentification>
               </adapter>
            </Fgen>
        </PCWIN>
    </OS>
    <OS>
        <PCWIN64>
            <RFSigGen>
                <adapter>
                    <name>instrument.internal.udm.rfsiggen.RFSigGenTestAdaptor</name>
                    <resourceIdentification>                     
                        <name>test</name>
                    </resourceIdentification> 
                </adapter>
                <adapter>
                    <name>instrument.internal.udm.rfsiggen.IEEE4882RFSigGenAdaptor</name>
                    <resourceIdentification>
                        <name>VISA</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>gpib</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>serial</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>tcpip</name>
                    </resourceIdentification>
                </adapter>
                <adapter>
                  <name>instrument.internal.udm.rfsiggen.IvicRFSigGenAdaptor</name>
                  <resourceIdentification>  
                      <name>VISA</name>
                  </resourceIdentification>
                </adapter>
            </RFSigGen>
            <Scope>
                <adapter>
                    <name>instrument.internal.udm.oscilloscope.ScopeTestAdaptor</name>
                    <resourceIdentification>                     
                        <name>test</name>
                    </resourceIdentification> 
                </adapter>
                <adapter>
                    <name>instrument.internal.udm.oscilloscope.IEEE4882ScopeAdaptor</name>
                    <resourceIdentification>
                        <name>VISA</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>gpib</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>serial</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>tcpip</name>
                    </resourceIdentification>
                </adapter>
                <adapter>
                    <name>instrument.internal.udm.oscilloscope.IvicScopeAdaptor</name>
                    <resourceIdentification> 
                        <name>VISA</name>
                    </resourceIdentification>
                </adapter>
            </Scope>
            <Fgen>
                <adapter>
                    <name>instrument.internal.udm.fgen.FgenTestAdaptor</name>
                    <resourceIdentification>                     
                        <name>test</name>
                    </resourceIdentification> 
                </adapter>
                <adapter>
                    <name>instrument.internal.udm.fgen.IEEE4882FgenAdaptor</name>
                    <resourceIdentification>
                        <name>VISA</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>gpib</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>serial</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>tcpip</name>
                    </resourceIdentification>
                </adapter>
                <adapter>
                    <name>instrument.internal.udm.fgen.IvicFgenAdaptor</name>
                    <resourceIdentification>
                        <name>VISA</name>
                    </resourceIdentification>
                </adapter>
            </Fgen>
        </PCWIN64>
    </OS>
    <OS>
        <GLNXA64>
            <Scope>
                <adapter>
                    <name>instrument.internal.udm.oscilloscope.ScopeTestAdaptor</name>
                    <resourceIdentification>                     
                        <name>test</name>
                    </resourceIdentification> 
                </adapter>
                 <adapter>
                    <name>instrument.internal.udm.oscilloscope.IEEE4882ScopeAdaptor</name>
                    <resourceIdentification>
                        <name>serial</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>tcpip</name>
                    </resourceIdentification>
                </adapter>
            </Scope>
            <Fgen>
                <adapter>
                    <name>instrument.internal.udm.fgen.FgenTestAdaptor</name>
                    <resourceIdentification>                     
                        <name>test</name>
                    </resourceIdentification> 
                </adapter>
                <adapter>
                    <name>instrument.internal.udm.fgen.IEEE4882FgenAdaptor</name>
                    <resourceIdentification>
                        <name>serial</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>tcpip</name>
                    </resourceIdentification>
                </adapter>
            </Fgen>
            <RFSigGen>
                <adapter>
                    <name>instrument.internal.udm.rfsiggen.RFSigGenTestAdaptor</name>
                    <resourceIdentification>                     
                        <name>test</name>
                    </resourceIdentification> 
                </adapter>
                <adapter>
                    <name>instrument.internal.udm.rfsiggen.IEEE4882RFSigGenAdaptor</name>
                    <resourceIdentification>
                        <name>serial</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>tcpip</name>
                    </resourceIdentification>
                </adapter>
            </RFSigGen>			
        </GLNXA64>
    </OS>
    <OS>
        <MACI64>
            <Scope>
                <adapter>
                    <name>instrument.internal.udm.oscilloscope.ScopeTestAdaptor</name>
                    <resourceIdentification>                     
                        <name>test</name>
                    </resourceIdentification> 
                </adapter>
                 <adapter>
                    <name>instrument.internal.udm.oscilloscope.IEEE4882ScopeAdaptor</name>
                    <resourceIdentification>
                        <name>VISA</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>serial</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>tcpip</name>
                    </resourceIdentification>
                </adapter>
            </Scope>
            <Fgen>
                <adapter>
                    <name>instrument.internal.udm.fgen.FgenTestAdaptor</name>
                    <resourceIdentification>                     
                        <name>test</name>
                    </resourceIdentification> 
                </adapter>
                <adapter>
                    <name>instrument.internal.udm.fgen.IEEE4882FgenAdaptor</name>
                    <resourceIdentification>
                        <name>VISA</name>
                    </resourceIdentification>					
                    <resourceIdentification>
                        <name>serial</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>tcpip</name>
                    </resourceIdentification>
                </adapter>
            </Fgen>
            <RFSigGen>
                <adapter>
                    <name>instrument.internal.udm.rfsiggen.RFSigGenTestAdaptor</name>
                    <resourceIdentification>                     
                        <name>test</name>
                    </resourceIdentification> 
                </adapter>
                <adapter>
                    <name>instrument.internal.udm.rfsiggen.IEEE4882RFSigGenAdaptor</name>
                    <resourceIdentification>
                        <name>VISA</name>
                    </resourceIdentification>					
                    <resourceIdentification>
                        <name>serial</name>
                    </resourceIdentification>
                    <resourceIdentification>
                        <name>tcpip</name>
                    </resourceIdentification>
                </adapter>
            </RFSigGen>				
        </MACI64>
    </OS>
</adptersConfig>